<form id="formNokReturnAct" name="formNokReturnAct" class="form-horizontal well">
    <h4><u>NOK Action with NOK PO No. NOK0001</u></h4>
    <div class="control-group">
        <label class="control-label" for="edtjapan">ETD Japan** :</label>
        <div class="controls">
            <input type="text" id="edtjapan" name="edtjapan" class="span3" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="invoice">Invoice No.** :</label>
        <div class="controls">
            <input type="text" id="invoice" name="invoice" class="span3" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="comment">NOK Comment :</label>
        <div class="controls">
            <textarea rows="3" id="comment" name="comment" class="span8"></textarea>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="btnApv"></label>
        <div class="controls">
            <button id="btnApv" name="btnApv" type="button" class="btn btn-success"><i class="icon-ok icon-white"></i> Submit</button>
            @*<button id="btnRej" name="btnRej" type="button" class="btn btn-danger"><i class="icon-remove icon-white"></i> Reject</button>*@
        </div>
    </div>
</form>