<form id="formNokEdit" name="formNokEdit" class="well">
    <h4><u>NOK Edit</u></h4>
        <label for="nokpo">Plant/Division** :</label>
        <input type="text" id="edit_plant" name="edit_plant" class="span9" />
        <button id="btnUpd" name="btnUpd" type="button" class="btn btn-success"><i class="icon-ok icon-white"></i> Update</button>

</form>