@{
    ViewBag.Title = "TNCNOKMenu";
}

<div class="row-fluid">
    <div class="span3"></div>
    <div class="span6 text-center">
        <a href="@Url.Action("TNCSearch", "Home")" class="btn btn-large btn-primary">TNC</a>
        <a href="@Url.Action("NOKSearch", "Home")" class="btn btn-large btn-info">NOK</a>
    </div>
    <div class="span3"></div>
</div>