@{
    ViewBag.Title = "Upload";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.validate({
                modules: 'file',
                form: '#formUpload'
            });
        });
    </script>
}

<h2>@ViewBag.Title</h2><hr />

<form class="form-horizontal" id="formUpload" name="formUpload" action="@Url.Action("UploadNokData", "Home")" method="post" enctype="multipart/form-data">
    <div class="control-group">
        <label class="control-label" for="filebutton">File Format : </label>
        <div class="controls">
            <a href="@Url.Content("~/Sourcefiles/upload_format.xlsx")" class="btn btn-small btn-primary"><i class="icon-download-alt icon-white"></i> Download</a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="uplfile">File Upload : </label>
        <div class="controls">
                <input type="file" id="uplfile" name="uplfile" class="input-file" data-validation="required extension" data-validation-allowing="xls,xlsx">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success"><i class="icon-ok icon-white"></i> Upload</button>
        </div>
    </div>
</form>