@{
    ViewBag.Title = "Log in";
}
<style type="text/css">
    /*body {
        padding-top: 60px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }*/

    .form-signin {
        max-width: 250px;
        padding: 10px 29px 25px;/*19px 29px 29px*/
        margin: 0 auto 20px;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        box-shadow: 0 1px 2px rgba(0,0,0,.05);
    }

        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }

        .form-signin input[type="text"],
        .form-signin input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 12px;/*15px*/
            padding: 5px 9px; /*7px 9px;*/
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $.validate({
            form: '#formLogin1'
        });

        $("#username").focus();
    });
</script>

<form id="formLogin1" name="formLogin1" class="form-signin" action="@Url.Action("Login", "Account")" method="post">
    <h3 class="form-signin-heading">Please Log in !!!</h3>
    <label>Username : </label>
    <input id="username" name="username" type="text" class="input-block-level" placeholder="Username" data-validation="length alphanumeric" data-validation-length="3-20">
    <label>Password : </label>
    <input id="password" name="password" type="password" class="input-block-level" placeholder="Password" data-validation="required">
    <button class="btn btn-large btn-block btn-info" type="submit">Log in</button><br />
    <a class="label btn-block" href="mailto:monchit@nok.co.th"><i class="icon-envelope icon-white"></i> Contact: Monchit Wa. (IT)</a>
    <a class="label label-info btn-block" href="mailto:jaruporn@nok.co.th"><i class="icon-envelope icon-white"></i> Contact: Jaruporn (Import-Export)</a>
</form>